fieldset dt {color:var(--aaa); font-weight:bold; text-transform:uppercase; font-size:var(--sizu1); letter-spacing:1px;}

.post_userinfo::-webkit-scrollbar {
  display: none;
}
.forum_desc::-webkit-scrollbar {
  display: none;
}
.post_avatar img {
  border-radius:5px;
}

dd.lastpost span {display: contents;}
dd.searchsujet {width:17%}


.postbody .content {text-align:justify;}

a:link {color:var(--link)}
a:visited {color:var(--link)}
a:hover {color:var(--linkho)}
a:active {color:var(--link)}

#FAM a.FAM-page-link, .FAM-page-link { background:var(--lighter); font-size:var(--sizu2);}
.FAM-chat-icon { visibility: hidden;}
b.FAM-page-link, strong.FAM-page-link {background:var(--button)}
.FAM-msg FAM-my-msg blog_comment {border:none!important; padding:3px!important;}
#FAM-msg {color:var(--text)!important; font-size:var(--sizu2);}
.FAM-msg { padding: 0px;}
.FAM-button { background:var(--smsu)!important; color:var(--buttonfont)!important; font-size:var(--sizu1);}
#FAM a {color:var(--link)!important}
.FAM-chat { height:50px; background:var(--lighter); color:var(--text); border-bottom:var(--borders); font-size:var(--sizu2)!important;}
.FAM-chat:hover {background:var(--light);}
.FAM-chat-title {font-size:var(--sizu2);}
#FAM-button { background:var(--button)!important; color:var(--buttonfont)!important; border-radius:4px; bottom:10px; right:10px; width:36px; height:31px;}
#FAM-actions>button {background:var(--lighter); border-left:var(--borders);}
#FAM-tab-add:hover {color:var(--button)!important;}
#FAM-tab-add {border:var(--borders);}
#FAM-actions {border:var(--borders);}
#FAM { width:350px; height:470px; min-height:470px; border:var(--borders); background:var(--lighter); right:50px; bottom:0px;}
.FAM-msg-date  { text-transform:uppercase; font-size:var(--sizu1); color:var(--textff);}
.FAM-msg-avatar { width:40px; height:40px; border:var(--borders);}
.FAM-msg-avatar img { object-fit: cover; object-position: center;}
#FAM-msg-container {border-left:var(--borders);}
.FAM-tab { background: var(--light); border: var(--borders); color:var(--text)!important;}
.FAM-tab:hover {background:var(--lighter);}
#FAM-tabs {background:var(--lighter);}
.FAM-tab.FAM-tab-active { color:var(--text)!important; background: var(--lighter);}
.FAM-tab.FAM-tab-active:after {background:var(--button)!important;}
#FAM-toolbar { border:none!important; background:var(--button)!important; color:var(--buttonfont)!important;}
.FAM-my-msg .FAM-msg-content {background: var(--button)!important; color:var(--buttonfont)!important;}
.FAM-msg-content {background: var(--smsu)!important; color: var(--text);}
.FAM-msg-content:before { border-right-color: var(--smsu)!important;}
.FAM-my-msg .FAM-msg-content:before { border-left-color: var(--button)!important;}
.FAM-msg-text {font-size:var(--sizu2);}
.FAM-toolbar-button, .FAM-maintitle {  color:var(--buttonfont)!important;}



.jqmWindow {background:var(--ligher);}
.boutonicone {
    width: 30px;
    height: 30px;
    font-size: 30px;
}
form {
    text-align:center;
}
fieldset dl:hover dt label {color:var(--text);}
fieldset.fields1 dt {
  width: 15em; }
.sidebar {
  position: fixed;
  height:100px;
    background: transparent;
    inset: 0;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0px 0px 30px;
    z-index: 999;
}

/* BOUTON CHANGEMENT DE THEME ---*/
@media (prefers-color-scheme: dark) {.color-scheme-toggle .dark{display: none}}
@media (prefers-color-scheme: light) {.color-scheme-toggle .light{display: none}}
.color-scheme-toggle,
[data-color-scheme="light"] .color-scheme-toggle .dark,
[data-color-scheme="dark"] .color-scheme-toggle .light {display: block;width: 100%;}

[data-color-scheme="dark"] .color-scheme-toggle .dark,
[data-color-scheme="light"] .color-scheme-toggle .light {display: none}

.color-scheme-toggle {
    background: var(--button);
    padding: 5px 8px;
    font-size: 1.25rem;
    line-height:1.25rem;
    text-align: center;
    border-radius: 5px;
    color: var(--buttonfont);
}

/****** STRUCTURE DU FORUM ----------------------------------------------------------- 
 ****** Elements du forum qui déifnissent sa structure et hiérachie sur toutes les pages 
 ****** (ne les RENOMMEZ PAS, ils sont généraux aux pages Web ou à Forumactif) ------- ******/

/*** ------------------------------- ***/
/*** FOND DE LA PAGE --------------- ***/
body {
  background: var(--pink);
  font-family: 'Open Sans';
  color:var(--text);
}


/*** ------------------------------- ***/
/*** CONTENEUR GENERAUX --------------- ***/

/*structure principale*/
.main_forum {
   width: 840px;/*largeur forum*/
   margin: 0px auto 0px;/*espace top - centrer auto - espace bottom*/
   padding: 20px;
   font-size:var(--sizu2);
   background:var(--lighter);
   border-radius: 5px;
  color:var(--text);
}

/* Conteneur de toutes les sous-sections
 * comme les encadrés d'options, de rappel, etc... */
.panel {
  color:var(--text);
    background: var(--lighter) !important;
    border: var(--border);
    border-radius: 5px;
    font-size:var(--sizu2)!important;
    padding: 5px;
    margin: 10px 0;
}
.panel p, .panel div.mes-txt { text-align:center;}
/* FACULTATIF : on annules toutes les propriétés établies pour la classe .panel
 * dans le cas où la classe .panel se repète deux fois. Ca évite les doublons et l'effet répétitif. */
.panel .panel {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}


/* Conteneur des parties inaccessibles de FA (comme la liste des sujets les plus actifs, par ex.)
 * Il est conseillé de les personnaliser de la même façon que le reste de votre design.
 * Pour les repérer, n'hésitez pas à utiliser l'outil d'inspecteur Web */

.forabg, .forumbg {
    background: var(--lighter);
    background-image: none !important;
    border: none;
    border-radius: 5px;
    font-size:var(--sizu2)!important;
    padding: 0px;
    margin-bottom: 10px !important;}

.row, .row1, .row2 {
    border: none !important;
    background: transparent !important;
}

/* Fond de l'encadré "recherche */
.overview {
    background: var(--light);
}

/* Centrer les pages de connexion */
form[name=form_login], form[name=form_login] ~ .panel {
    text-align: center;
}

form[name=form_login] .content {
    display: grid;
    justify-content: center;
    justify-items: center;
}



/*** ------------------------------- ***/
/*** SCROLLBAR --------------------- ***/

/* Scrollbar entière */
::-webkit-scrollbar {
  margin:3px;
  width: 9px;
  border:3px solid var(--light);
}

/* Rail */
::-webkit-scrollbar-track {
  width:9px;
  border-radius:5px;
  border:3px solid var(--light);
}

/* Poignée */
::-webkit-scrollbar-thumb {
  width:9px;
  border-radius:5px;
  background:var(--skr);
  border:3px solid var(--light);
}



/*** ------------------------------- ***/
/*** TITRES DES PAGES -------------- ***/

/* Utilisé pour des titres de pages */
h1, h1.page-title {
  color: var(--jolititre);
  margin: 10px 0 10px;
  font-weight: 700 !important;
  text-align: center;
  font-family:var(--font1);
  font-size:var(--sizu6)!important;
  text-transform:lowercase;
}

/* Utilisé pour des titres de sujets, blogs... */
h2 {
    display: inline-block !important;
    margin: 0;
    font-size: var(--sizu2)!important;
    font-weight: 700;
}

/* Utilisé pour des titres de sous-sections, petit encadré, ...*/
.h3, h3 {
  text-align:center;
    color: var(--jolititre);
    border: none !important;
    padding-bottom: 10px;
    margin: 0;
    text-transform: none !important;
    font-size: var(--sizu2)!important;
}


/*** ------------------------------- ***/
/*** BOUTONS D'INTERACTION ET BARRE DE TEXTE ***/

/* BARRE DE TEXTE ---*/
input.inputbox {
    border: var(--border) !important;
    border-radius: 5px;
  width: 85%!important;
  padding:4px;
    background: var(--smsu) !important;
}
textarea.inputbox {border: var(--border) !important;
    border-radius: 5px;
  background: var(--smsu) !important;}


/* BOUTONS D'INTERACTION --- *
 * Envoyer, prévisualiser, sauvegarder, aller,... */
.button1, .button2, a.button1, a.button2, button.button2, input.button1, input.button2 {
    font-size: var(--sizu2);
  color:var(--buttonfont);
    padding: 3px 4px!important;
    border: var(--buttonborder) !important;
    border-radius: 5px;
    background: var(--button) !important;
}


/* MENUS DEROULANTS --- */
select {
    background: transparent !important;
    border: var(--border) !important;
    border-radius: 5px;
    font-size:var(--sizu2);
  color:var(--text)!important;
}



/*** ------------------------------- ***/
/*** ASCENSEUR --------------------- ***/

/* Conteneur de l'ascenseur
 * Sert essentiellement à définir où le placer dans la page */
.elevator {
    position: fixed;
    bottom: 73px;
    right: 10px;
    width: 36px;
  height:31px;
}

/* Lien de renvoi haut/bas */
.elevator a {
  font-size:var(--sizu4);
    display: block;
    padding: 5px 8px;
    background: var(--light);
    border: var(--border);
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
}


/****** ------------------------------------------------------------------------------
 ****** GÉNÉRALITÉS ------------------------------------------------------------------ 
 ****** Sélecteurs généraux s'appliquant à plusieurs reprises sur tout le forum ******/

/* S'applique à TOUS les éléments du forum*/
* { 
  box-sizing: border-box; /*évite que les éléments soient agrandis par le padding*/}

/*** ------------------------------- ***/
/*** LIENS ET TEXTE -------------------- ***/

/* LIENS DU FORUM --- */
a {
    font-weight: 600;
    text-decoration: none !important;}

/*liens au survol*/
a:hover {}

/*liens visités*/
a:visited {}


/* TEXTES --*/

p {font-size: var(--sizu2)}

/* Contenu de tous les messages postés (en sujet comme en MP)*/
.postbody, .content {
  padding:10px;
  color:var(--text);
  width: 100%; /*ne pas retirer*/
  font-size: var(--sizu4)!important;
  background:var(--lighter)
}


/* Emoji mis par défaut de FA
 * Les réduire les rend moins horribles à voir */
.emojione {
    width: 13px !important
}


/*** ------------------------------- ***/
/*** ELEMENTS ESTHETIQUES ---------- ***/

/* Contenur général qui sert généralement de fond et/ou de contour*/
.container {
  font-size:var(--sizu2)!important;
  color:var(--text);
    background: var(--light);
    border: var(--lighter);
    padding: 8px;
    border-radius: 5px;
}

/* Barre de séparation */
.separator {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--grey);
    clear: both;
}

/* Conteneur moins large (les historiques des messages essentiellement) */
.wrapped {
    width: 80%;
    margin: 20px auto !important;
}

/* Permet d'aligner un élément à droite ou à gauche */
.right {float: right}
.left {float: left}



/* Barre de gestion 
 * Contient des boutons ou des liens spéciaux */
.links_bar {
  text-transform:uppercase;
  font-size:var(--sizu1)!important;
    min-height: 38px;
    border-radius: 5px;
    margin: 10px 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: both;
}

/* Mise en valeur d'un lien spécial */
a.specials_links,
.specials_links a,
span.specials_links {
  text-transform:uppercase;
    border-radius: 5px;
  font-size:var(--sizu1) !important;
    height: 24px;
    padding: 2px 8px;
    
}

/* On retire les liens spéciaux vide (pour les invités) */
a.specials_links:empty,
.specials_links a:empty,
span.specials_links:empty {
  display: none
}

/* Image/avatar réduit */
.mini_img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin-right: 10px;
    background: var(--grey);
}


/*** ------------------------------- ***/
/*** PAGINATION -------------------- ***/
/* FA utilise la même classe .pagination partout intégrée dans ses variables (on ne peut donc pas la retirer des templates)
 * Ici, on la "reset" pour en faire ce qu'on veut. */
.pagination {
  float:none!important;
    text-align:right;
  height:20px;
}

/*lien unique vers les pages numérotées*/
.pagination span a {
    background: var(--light) !important;
    border: none !important;
    color: var(--link) !important;
    border-radius: 3px;
    font-size: var(--sizu2) !important;
    margin: 0 2px;
    padding: 1px 4px;
}

/*survol des liens uniques des pages*/
.pagination span a:hover {
    background: var(--light) !important;
}

/*lien actif : page sur laquelle vous vous trouvez */
.pagination span strong {
    background: var(--link);
    border-radius: 3px;
    border: none !important;
    margin: 0 2px;
    padding: 1px 4px;
}





/*** ------------------------------- ***/
/*** EDITEUR DE TEXTE -------------- ***/

/*NE PAS MODIFIER*/
.quickreply div#textarea_content {width: 100% !important;}

/*centrer la réponse rapide*/
.quickreply {
  display: flex;
  justify-content: center;
}

/*Longueur de l'éditeur de texte*/
form#quick_reply {
    width: 705px;
}

/* Retire le cadre de la réponse rapide pour les invités */
#quickreply_content:empty {
    display: none;
}


/* Editeur de texte */
.sceditor-container {
  color:var(--text)!important;
  background: var(--lighter) !important;
  border:var(--border)!important;
}

/* Barre d'outils de l'éditeur de texte*/
div.sceditor-toolbar {
    background: var(--light) !important;
    border-bottom: var(--border) !important;
}

/* Conteneur des groupes d'outils */
div.sceditor-group {
    background: var(--grey) !important;
    border-bottom: var(--border) !important;
}

/* Bouton d'un outil */
a.sceditor-button {
    height: 26px !important;
    /*ne pas retirer*/
    width: 26px !important;
    /*ne pas retirer*/
}

/* Conteneur de la zone de texte */
.sceditor-container iframe,
.sceditor-container textarea {
    /*ne pas supprimer*/
    width: 100% !important;
    margin: 0 !important;
    padding: 5px !important;
    /*ne pas supprimer*/
color:var(--text)!important;
    min-height: 150px !important;
}




/****** ------------------------------------------------------------------------------ 
 ****** ENTETE DU FORUM --------------------------------------------------------------
 ****** Tous les éléments qui s'affichent en tête de toutes les pages ---------------- ******/

/*** ------------------------------- ***/
/*** TOOLBAR ----------------------- ***/
/* Supression de la barre de recherche, des boutons sociaux et des flèches */
#fa_search,
#fa_share,
#fa_hide {
    display: none !important
}

/* Logo Forumactif : 
 * ATTENTION, il est techniquement interdit de supprimer de logo de FA. 
 * Techniquement. Faites-en donc ce que vous voulez. */
#fa_left {display: none !important}

/* Toute la toolbar */
#fa_toolbar {
  height:1px;
    font-size: var(--sizu1) !important;
    font-family: var(--font);
    background: transparent !important;
}


/* Conteneur du lien de bienvenue et notification */
#fa_right {
  position: relative;
    margin-top: 5px;
    margin-right: 5px;
    background: var(--lighter);
    border: none;
    border-radius: 5px;
    height: 25px;
    display: flex !important;
    align-items: center;
    padding: 5px;
    font-size: var(--sizu2)!important;
}

/* Liens contenus à droite */
#fa_right a {
    color: var(--link) !important;
    font-weight: 600 !important;
    margin-left: 0 !important;
}

/* Lien "Connexion" */
#fa_right a.rightHeaderLink:first-child { margin-right: 10px;}

/* Lien "S'enregistrer" */
#fa_right a.rightHeaderLink:last-child {}

/* Lien "Bienvenue (pseudo)" */
#fa_welcome {display:none!important;}

/* Lien "notification"*/
#fa_notifications

/* liens "bienvenue" et "notification" [AU CLIC] */
a#fa_menu {display: none !important}
#fa_right.welcome #fa_menu #fa_welcome,
#fa_toolbar > #fa_right.notification > #fa_notifications {
    background: var(--grey);
    border-radius: 5px;}
#fa_toolbar #fa_right #notif_list {background:var(--light);}
#fa_toolbar #fa_right #notif_list li .contentText {width: 19em;}
#fa_toolbar #fa_right #notif_list li .content {width:23em}

#fa_toolbar #fa_right #notif_list li .contentText a {
  text-decoration:none!important; color:var(--link)!important; background:var(--light);}

#fa_toolbar #fa_right #notif_list li.see_all {text-align:center;}

#fa_toolbar #fa_right #notif_list li {font-size:var(--sizu2); background:var(--light); color:var(--text);}

#fa_toolbar #fa_right.notification #notif_list {width:275px;}

/* Affichage du menu bienvenue [ET] liste des notification */
ul#fa_menulist,
ul#notif_list {
    top: 30px!important;
    border: var(--border) !important;
    background: var(--light);
    border-radius: 5px;
    right: 0;
    left: initial!important;
}
#fa_menulist :link, #fa_menulist :visited {
    color: var(--link)!important;
}

/* Menu bienvenue */
ul#fa_menulist {
    margin-top: 10px;
    width: 300px!important; 
}

/* Image de l'avatar dans le menu bienvenue */
#fa_usermenu img {
    object-fit: cover;
    object-position: center;
}

/* Liste des notifications*/
ul#notif_list {
    top: 50px;
    font-size: var(--sizu1) !important;
    font-family: var(--font);
}

/* Lien dans une notification*/
ul#notif_list a {
    text-decoration: none !important
}

/* Notifications non lues */
#notif_list .unread {
    background: var(--grey) !important;
}

/* Lien "voir toutes les notifications" */
#notif_list .see_all {
    background: var(--grey) !important;
    border-radius: 5px;
    margin: 5px !important;
}

/* Conteneur de l'avatar toolbar */
.fa_avatar {
    position: absolute;
    top: -1px;
    left: -35px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: var(--border);
    background: var(--light);
    display: grid;
    place-items: center;
}

/* Image de l'avatar */
.fa_avatar img {
    object-fit: cover;
    object-position: center;
    width: 22px;
    height: 22px;
    border-radius: 3px;
}

/* Placement du pop-up de nouvelle notification */
#fa_toolbar #live_notif {
    top: 45px;
    right: 0px!important;
}
/* Stylisation du pop-up */
#fa_toolbar #live_notif .fa_notification { }

/* Lien à l'intérieur du pop-up de notification */
#live_notif a {
  color: var(--light)!important;
}



/*** ------------------------------- ***/
/*** SWITCHEROO - Par Monomer ------ ***/
/*** Gestionnaire de multicompte --- ***/

:root {
  --gap-size: 16px;
  --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
  --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}

/* BARRE SWITCHEROO --- */
.switcheroo {}

.switcheroo[position="static"] {
  position: relative;
}

/* si barre EN HAUT */
.switcheroo[position="top"] {
  position: fixed;
  top: 60px;
  left: 20px;
  z-index: 100;
}

/* si barre EN BAS */
.switcheroo[position="bottom"] {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}

/* si barre A L'HORIZONRAL */
.switcheroo[direction="horizontal"] {
  width: 100%;
}

/* si barre A LA VERTICAL */
.switcheroo[direction="vertical"] {
}

/* BARRE SIDEBAR --- */
.sidebar {}
 
.sidebar[position="static"] {
  position: relative;
}
 
/* si barre EN HAUT */
.sidebar[position="top"] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
 
/* si barre EN BAS */
.sidebar[position="bottom"] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}
 
/* si barre A L'HORIZONRAL */
.sidebar[direction="horizontal"] {
  width: 100%;
}
 
/* si barre A LA VERTICAL */
.sidebar[direction="vertical"] {
}

/* Positionnement des ronds */
.switcheroo__squircles {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: var(--gap-size);
  gap: var(--gap-size);
}
.switcheroo[direction="horizontal"] .switcheroo__squircles {
  flex-direction: row;
}
.switcheroo[direction="vertical"] .switcheroo__squircles {
  flex-direction: column;
}

/* BARRE --- */
.switcheroo {
  color: var(--color-text);
  background: var(-backback);
  border: none;
  font-size: 16px;
}


/* AFFICHAGE DES COMPTES ---*/

/* Rond */
.switcheroo__squircle {
  position: relative;
  display: grid;
  place-items: center;
  background: var(--grey);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: border-radius 128ms var(--ease);
}

/* Rond au survol */
.switcheroo__squircle:hover {
  border-radius: 6px;
  background: var(--greyer)
}

/* Contenenur de l'avatar */
.switcheroo__avatar {}


/* Image de l'avatar */
.switcheroo__avatar img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  transition: border-radius 128ms var(--ease);
  position: relative;
}

/* Image de l'avatar au survol */
.switcheroo__avatar img:hover {
  border-radius: 5px;
}

/* Avatar du compte connecté */
.switcheroo__squircle.active, 
.switcheroo__squircle.active img {
  border-radius: 6px;
  cursor: default;
}


/* Indicateur de l'avatar survolé */
.switcheroo__squircle:before {
  content: "";
  display: block;
  background: var(--grey);
  border: var(--border);
  border-radius: 50%;
  height: 38px;
  width: 38px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -5px;
  bottom: 0;
  right: 0;
  left: -5px;
  z-index: -1;
  transform 128ms var(--ease), opacity 64ms var(--ease);
}


/* Indicateur du compte sélectionné/actif */
.switcheroo__squircle.active:before {
  opacity: 1;
  border-radius: 8px;
}

.switcheroo__squircle:hover:before {
    border-radius: 8px;
    opacity: 1;
  transform 128ms var(--ease), opacity 64ms var(--ease);
}


/* Bouton de suppression */
.switcheroo__delete {
  display: grid;
  place-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  background: var(--patink);
  transform: scale(0);
  opacity: 1;
  transition: transform 128ms var(--ease), opacity 64ms var(--ease);
  cursor: pointer;
  color: var(--text);
  font-size:11px;
}
.switcheroo__squircle:hover .switcheroo__delete {
  opacity: 1;
  transform: scale(1);
}



/* TOOLTIP - INFOBULLE DU PSEUDO ---*/

/* Conteneur du pseudo */
.switcheroo__popper {
  background: var(--lighter);
  padding: 0.68rem 1rem;
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 7px;
  z-index: 0;
  opacity: 0;
  transition: opacity 64ms var(--ease), transform 128ms var(--ease-bounce);
  pointer-events: none;
  color: var(--text);
  font-size:var(--sizu1)
}

/* Conteneur du pseudo: si vertical */
.switcheroo[direction="vertical"] .switcheroo__popper {
  left: 155%;
  top: 50%;
  transform-origin: left;
  transform: translateY(-50%) scale(0.68);
}
/* Conteneur du pseudo : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__popper {
  top: 155%;
  left: 50%;
  transform-origin: top;
  transform: translateX(-50%) scale(0.68);
}

/* Flèche tooltip */
.switcheroo__popper:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: var(--lighter);
  z-index: -1;
}

/* Flèche tooltip : si vertical */
.switcheroo[direction="vertical"] .switcheroo__popper:before {
  left: -2px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* Flèche tooltip : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__popper:before {
  left: 50%;
  top: -2px;
  transform: translateX(-50%) rotate(-45deg);
}


/* Positionnement tooltip au survol */
.switcheroo[direction="vertical"] .switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.switcheroo[direction="horizontal"] .switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}



/* LOGO --- */
.switcheroo__logo {
  /* display: none */
  /* à ajouter si vous voulez supprimer le logo*/
}

/* DIVIDER : barre de séparation --- */
.switcheroo__divider {
  /* display: none */
  /* à ajouter si vous voulez supprimer le logo*/
  
  background: transparent;
  border-radius: 3px;
  transform: scale(0.8);
}

/* Divider : si vertical */
.switcheroo[direction="vertical"] .switcheroo__divider {
  width: 100%;
  height: 20px;
}

/* Divider : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__divider {
  width: 2px;
}


/* AJOUTER UN COMPTE ---*/

/* button : ajouter un compte */
.switcheroo__squircle--button {
  transition: border-radius 128ms var(--ease);
  color: var(--text);
}
.switcheroo__squircle--button:hover {
  color: var(--link);
  font-weight: bold;
}


/* MODAL : FENETRE DE CONNEXION --- */

/* Fond de l'afficage connexion */
.monomer-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: rgba(255, 255, 255, 0.6);
}

/* Boîte de connexion */
.monomer-modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 94%;
  padding: 24px 20px;
  transition: 0.2s opacity ease;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: var(--grey);
  border: var(--border);
  color: var(--text);
}

/* Formulaire */
.switcheroo__form {
  padding: 48px;
  background: var(--light);
  border-radius: 5px;
}

/* Champs à remplir */
.switcheroo__form-row {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

/* Nom du champs */
.switcheroo__form-label {
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Zone de texte */
.switcheroo__form-input {
  padding: 6px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  background: var(--light);
  border: var(--border)!important;
  border-bottom: 3px solid var(--greyer)!important;
  color: var(--text);
  cursor: text;
}

/* Bouton de connexion */
.switcheroo__form-button {
  border-radius: 8px;
  padding: 4px 6px;
  border: none;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 14px;
  align-self: flex-end;
  background: var(--light);
  border: var(--border);
  cursor: pointer;
}

.switcheroo__form-button:hover {
  border: 1px solid transparent;
  background: var(--text);
  color: var(--light);
}

.monomer-modal.monomer-open, .monomer-overlay.monomer-open {
  opacity: 1;
}

/* Fermer la boîte de connexion */
.monomer-close {
  font-size: 20px;
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -7px;
  right: -7px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: none;
  background: var(--red);
  border-radius: 50%;
  padding: 0;
}
.monomer-close:hover {
  background: var(--text);
  font-weight: 700;
}


/*** ------------------------------- ***/
/*** BANNIERE ---------------------- ***/

#header { }

#header img { 
  width:800px;
  height:400px;
  background-image:var(--leheader);
background-size: cover;}


/*** ------------------------------- ***/
/*** BARRE DE NAVIGATION ----------- ***/

/* Conteneur de la barre de nav */
.navbar {
  position:fixed;
  z-index: 100;
  width:-webkit-fill-available;
  top:-10px;
    background: var(--lighter)!important;
    border: var(--borders);
    margin-top: 10px;
    padding: 10px;
    height: auto;
font-size:var(--sizu1);
  text-transform:uppercase;
    display: flex;
    /*ne pas supprimer*/
    align-items: center;
    /*centre verticalement*/
    justify-content: center;
    /*centre horizontalement*/

}

/* Suprresion des liens peu utilisé en les identifiant par leur numéro d'ordre*/
.navbar li:nth-child(2), /*calendrier*/
.navbar li:nth-child(3), /*faq*/
.navbar li:nth-child(4) /*faq*/
    {
    display: none !important
}

/* liens de navigation */
a.mainmenu {
    padding: 6px;
}

/* Lien navigation au survol*/
a.mainmenu:hover {
    border-radius: 5px;
}

/* Image des liens */
a.mainmenu img {
    display: none
}


/*** ------------------------------- ***/
/*** ANNONCES DEFILANTES ----------- ***/

/* Barre défilante */
.module {
    background: transparent !important;
    border-radius: 5px;
    border: var(--border);
    margin: 10px 0;
    padding: 4px 8px;
}

/* Intérieur d'une annonce*/
#fa_ticker_container {
    margin-bottom: 4px;/*ne pas retirer*/
}





/****** ------------------------------------------------------------------------------
 ****** PAGE PRINCIPALE -------------------------------------------------------------- ******/

/* PAGE D'ACCUEIL ---*/
.introduction { }

/* CADRE DE CONNEXION RAPIDE --- */
.user_login_form {margin: 0 !important}


/*** ------------------------------- ***/
/*** CATEGORIES -------------------- ***/

/* Titre d'une catégorie
 * Il est conseillé de garder le selecteur ".cate_title h2"
 */
.cate_title h2 {
  background:var(--lighter);
  display: block !important;
  text-align: center;
  font-family:var(--font1);
  color:var(--jolititre);
  text-transform: lowercase;
  font-size: var(--sizu5)!important;
  font-weight: 700 !important;
  margin: 20px 0 0px;
}

.forums {}

.forum_row {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-row-gap: 1px;
    margin-bottom: 10px;
    font-size:var(--sizu1)!important;
}

.forum_row:last-child {margin-bottom: 0}

.forum_row > div {
    background: var(--light);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  font-size:var(--sizu1)!important;
}

.top_row {border-radius: 5px 5px 0 0;}

a.forumtitle {
  font-size:var(--sizu1);
  font-family:var(--font2);
  text-transform:uppercase;
  text-align:left;
  font-weight:bold;
  color:var(--titulo);
  width: 100%;
  margin-bottom: 10px;
  letter-spacing:3px;
  transition: 0.7s;
}
a.forumtitle:hover{
  color:var(--tituloho);
  transition: 0.7s;
letter-spacing:5px;
}

img.forum-img {  
  border-radius: 5px;
  height:10px;
}

.forum_desc {
  text-align:justify;
  font-size:var(--sizu2);
  background:var(--lighter);
  box-shadow: var(--shadow);
  height: 60px;
  overflow: auto;
  width: 60%;
  padding:9px;
  border-radius:4px;
  margin-left:50px;
    margin: 0 10px;
}

.forum_lastpost-avatar {
  margin-right:10px;
  width:70px;
}

.forum_lastpost-avatar img {
    border-radius: 50%;
  padding:5px;
  background:var(--lighter);
  border:var(--border);
    object-fit: cover;
    object-position: center;
  height:60px;
  width:60px;
}
.forum-img {
  border-radius: 5px;
  height:10px;
}

.forum-img img {
  border-radius: 5px;
  height:10px;
}

.forum_lastpost {
  font-size:var(--sizu2);
  width:130px;
    display: flex;
    align-items: center;
  object-position: center;
  margin-right:20px;
  justify-content: center;
}
.forum_messss {
  font-size: 0.55rem!important; 
  letter-spacing:1px; 
  text-transform:uppercase;
}

.bottom_row {
  border-radius: 0 0 5px 5px;
  font-size:0.55rem!important;
}

#ssforum {
  font-size: 0.55rem!important; 
  letter-spacing:1px; 
  text-transform:uppercase;
}

#ssforum a {
  font-size: 0.55rem!important;
  margin-right: 10px;
}

div.foruminform {
  font-size:0.55rem!important;
  float: right;
  font-family:font-family: 'Open Sans';
}


/*** ------------------------------- ***/
/*** QUI EST EN LIGNE -------------- ***/

.qeel {
    background: var(--lighter) !important;
    text-align:center;
    border: var(--border);
    border-radius: 5px;
    font-size:var(--sizu2)!important;
    font-family:font-family: 'Open Sans';
    padding: 5px;
    margin: 10px 0;
    margin-bottom: 10px;
}
.qeelgridd {
  display: grid;
  grid-template-columns: 325px 100px 305px;
  grid-gap: 1px;}

.qeel > div {
    padding: 15px 10px;
}

.qeelgauche {
  margin-left:50px;
  line-height: 17px!important;
  height:150px;
  font-size:var(--sizu2)!important;
  text-align:justify;
  margin-right:20px;
}
.qeeldroit {
  width:290px;
  text-align:justify;
}
.qeeldroittop {
  line-height: 20px!important;
  font-size:var(--sizu2)!important;
  height:55px;
  overflow:auto;
  margin-left:20px;
}
#online_users {
  font-size:var(--sizu2)!important;
}
#24hconnected {
  font-size:var(--sizu2)!important;
}
.qeeldroitbottom {
  line-height: 20px!important;
  font-size:var(--sizu2)!important;
  height:100px;
  overflow:auto;
  text-align:justify;
  margin-left:20px;
}
.qeelmilieu {
    line-height: 15px!important;
}

.qeel-middle a.groups {
    display: block;
    background: #C8D9FF;
    border-radius: 5px;
    text-align: center;
    padding: 2px 0;
    margin-bottom: 5px;
}

.qeel-middle a.groups:hover {
    background: var(--lighter)
}

.qeel-middle a.groups:last-child {margin-bottom: 0}


/*X connectés :: 1 membre, 0 invisible, 0 invité*/
#total_users {}

/*Connectés en ce moment*/
#online_users {
    min-height: 52px;
    max-height: 52px;
    overflow: auto;
}

/*ne pas supprimer*/
#online_users br {
    display: none
}

.qeel .credits {
  margin-left:20px;
  width:250px;
    background:#D5BFD0;
    font-size: 0.55rem;
  color:white;
    border: var(--border);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.qeel-left {
    border-radius: 0 5px 5px 0;
    text-align: justify;
}


/****** ------------------------------------------------------------------------------
 ****** FORUMS ----------------------------------------------------------------------- ******/

/*** ------------------------------- ***/
/*** ENTETE ET FOOTER DE LA LISTE DES SUJETS ***/

/* Chaîne de navigation et pagination
 * (réutilisé dans l'affichage d'un sujet (viewtopic_body)) */
.navigation_links {
    display: flex;
    justify-content: space-between;
}

/* chaîne de lien de navigation : catégorie > forum > sous-fo */
.navigation_chain {
    font-size: 0;
    /*retire les :: de séparation */
}

.navigation_chain a {
    font-size: var(--sizu2);
    /*rétablit le font-size: 0*/
    margin-right: 8px;
}

.navigation_chain a:before {
    content: '›';
    /*symbole ou texte modifiable*/
    font-size: var(--sizu2);
    margin-right: 3px;
}


/* BOUTONS DE SUJET ---* 
 * (réutilisé dans l'affichage d'un sujet (viewtopic_body) et les MP (privmsgs_body) */
.buttons {
    padding: 1px 8px;
    margin-right: 5px;
    border-radius: 5px;
}

.buttons:hover {}

/*ne pas retirer*/
#users_here br {display: none}


/* OUTILS DE MODÉRATION D'UN FORUM ---*/
/*Supprime le texte inutile*/
#moderation_forum_tools, #moderation_forum_tools strong {
  font-size: 0px;
}

/* Lien de modération du forum */
#moderation_forum_tools a {
  background: var(--likey);
  border-radius: 5px;
  display:block;
  width:24px;
  height: 24px;
  padding: 2px 8px;
}



/*** ------------------------------- ***/
/*** LISTE DES SUJETS -------------- ***/

.topicslist_row {
    background: var(--lighter);
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 20px 420px 95px 50px 152px;
    grid-template-rows: 50px auto;
    align-items: center;
}
.topicslist_row:last-child {margin-bottom: 0}

.topicslist-img {
    max-width: 50px;
    max-height: 50px;
}
.topicslist-img img {border-radius: 5px;}

.topicslist-infos {}

.topictitle {
  font-size:var(--sizu2)!important;
}
.topic_msgicon { margin-right: 5px }

.topic-type {text-transform:uppercase;}

.topic-author {}

.topiclist-infos img {margin-right: 3px;}

.topicslist_icon {}

.topicslist-stats {text-align: right; text-transform:uppercase; font-size:var(--sizu1); color:var(--textff);}

.topicslist-avatar-lastpost img {
  object-fit: cover;
  object-position: center;
  width: 30px;
  height: 30px;
  border-radius:50%;
}
.topicslist-description {
  font-style: italic;
  text-align:right;
}



/****** ------------------------------------------------------------------------------
 ****** AFFICHAGE D'UN SUJET --------------------------------------------------------- ******/

/*** ------------------------------- ***/
/*** SUJET ------------------------- ***/
.post_profil {
  border: var(--borders);
  height:615px;
  border-radius: 5px;
  font-size:var(--sizu2);
  padding: 10px;
  margin-right:10px;
  padding: 10px;
  background:var(--light);}

.profilpseudo {
  background:var(--lighter);
  border-radius: 5px;
  padding-top:10px;
  padding-bottom:10px;
}
.post_pseudo {
  font-family:var(--font1);
  font-size:var(--sizu5);
}
.post_rank {
  text-align:center !important;
  text-transform:uppercase;
  font-family:var(--font2);
  letter-spacing:2px;
  font-size:var(--sizu3);
}
.post_userinfo {
  border-radius:5px;
  text-align:justify;
  line-height: 1.2rem;
  padding:8px;
  height:150px;
  overflow:auto;
  background:var(--lighter);
}
.profil_label {
  font-weight:700;
  text-transform:uppercase;
  font-size:var(--sizu1);
  color:var(--profiler);
}
.profilcontactsuj {
  padding:8px;
  background:var(--lighter);}
.profilcontactsuj img {height:15px;}

.post_row {
    background: var(--light);
    display: grid;
    grid-template-columns: 240px 543px;
    grid-template-rows: 20px auto;
}

div.post_row:nth-of-type(2) {border-radius: 5px 5px 0 0;}

div.post_row:last-of-type {border-radius: 0 0 5px 5px;}

.post_details {
  background:var(--light);
  grid-column: 2 / span 2;
  display: flex;
  align-items: center;}

.post_padding {
  padding:15px 15px 0px 15px ;
  text-align:justify;
}

.post_date {
font-size:var(--sizu1);
  font-family:'roboto condensed';
  text-transform:uppercase;
text-align:right;
}
.post_date a {
  font-size:var(--sizu1);
text-align:right;
  font-weight:normal !important;
    font-family:'roboto condensed';
    text-transform:uppercase;
  color:var(--link)!important}


/* BOUTONS D'EDITION DU MESSAGE --- */
/* Conteneur boutons d'édition */
ul.profile-icons {
    margin-top: 0 !important;
    flex-grow: 1;
}
ul.profil-icons {
  margin-top: 0 !important;
  float:right;
}
.postbody ul.profile-icons {
  float:left;
  margin:0;
}

/*UN SEUL bouton d'édition */
ul.profile-icons li {
    margin: 0 0 0 6px !important;
    padding: 2px;
}

/*hover d'un bouton d'édition*/
ul.profile-icons li:hover {
    background: var(--grey);
    border-radius: 5px;
}


/* BOUTON LIKE --- */
/* Conteneur du bouton like */
.like_button {
    margin-right: 10px;
    flex-grow: 1;
}

/* Bouton like
 * Le bouton de base de forumactif étant déjà très personnalisé, 
 * il est conseillé d'appliquer !important à chaque déclaration
 */
.rep-button,
.rep-button:active,
.rep-button:focus {
  margin: 5px !important;
  background: var(--likey) !important;
  border: 1px solid var(--likeyy)!important;
  box-shadow: none !important;
  float: none !important;
  border-radius:0;
  font-family: var(--font) !important;
  padding: 3px 5px !important;
  text-transform: inherit !important;
  line-height: normal !important;
  color: white !important;
  font-weight: 600 !important;
  text-transform:uppercase!important;
  font-size:var(--sizu1)!important;
}
.likelikelist {
  width:400px;
  height:auto;
  border: none!important;
  box-shadow: none !important;
  float: none !important;
  border-radius:4px;
  font-family: var(--font) !important;
  padding: 0px !important;
  text-transform: inherit !important;
  line-height: 15px !important;
  font-weight: normal !important;
  font-size:var(--sizu1)!important;
  text-align:justify;
}
p.fa_like_list {font-size:var(--sizu1)}
.fa_like_list, .fa_dislike_list, .option_voters_list {
  font-size:var(--sizu1);
  background:var(--light);
  border:var(--border);
  padding:10px;}
/*Bouton au survol*/
.rep-button:hover {background: var(--likeyy) !important;}

/* Texte "j'aime" */
button.rep-button .like_text {}

/*compteur de like*/
button.rep-button .rep-nb {
    line-height: normal !important;
    margin-left: 5px;
    padding: 0 3px;
    background: var(--likeyy);
    border-radius: 3px;
    border: none !important;
}

/* Lien "@" de mention */
a.fa-mention { }

/* La variable de l'image "en ligne" s'applique en background-image,
 * il faut donc donner au conteneur la taille de l'image pour qu'elle apparaisse pleinement 
 */
.online {
  background-image:var(--onnline);
  opacity:1;
  width: 30px;
  height: 30px;
  margin:316px 0 0 88px;
  z-index: 99;
  position: absolute;}
.online img {height:30px; width:30px;}

.post_message {
  background:var(--lighter);
  border-radius:5px;
  padding: 10px;
}


/* REPONSE RAPIDE --- */
/*supression de la mention "réponse rapide" */
.quickreply div.h3 {display: none}


/*** ------------------------------- ***/
/*** SONDAGE ----------------------- ***/

.poll {
    background: var(--light);
    border-radius: 5px;
    margin-bottom: 10px;
}

.head_poll {
    padding: 10px;
    border-bottom: 1px solid var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poll_list {
    display: grid;
    grid-template-columns: 220px auto;
}

.poll_option {
    padding: 10px 20px 0 10px;
    border-right: 1px solid var(--grey);
    text-align: right;
}

.poll_vote {
    padding: 10px 10px 0 20px;
    display: flex;
    align-items: center;
}

.poll_send {
    margin-left: 220px;
    padding: 20px 10px 20px 20px;
    border-left: 1px solid var(--grey);
}

.poll_vote:nth-child(2),
.poll_option:first-child 
{padding-top: 20px;}



/*** ------------------------------- ***/
/*** TEXTES, BALISES, ETC ---------- ***/

/* Lien-tag des utilisateurs */
.mentiontag {}

/* BALISES DE MESSAGE : spoiler, code, quote...
 * Utilisez !important pour personnaliser au-dessus des bases de FA si besoin
 */

/*Balise code*/
#blank_code {
  width: 85%;
  margin: 0 auto;
  border-radius: 5px;
  border: var(--border) !important;
  background:var(--intersuj);
}

/* titre "code" */
#blank_code dt {
    background: var(--lighter);
    border-radius: 5px;
    padding: 2px 5px;
    border: none !important;
    margin: 0 !important;
}

/* Sélectionner le code */
.selectCode { 
    float:right; 
    text-transform: uppercase; 
    cursor:pointer;
    font-size: var(--sizu1);
}

/*contenu code*/
#blank_code code {
color:var(--text);}

/*Balise spoiler*/
#blank_spoiler {
    width: 85%;
    margin: 0 auto;
    border-radius: 5px;
    border: var(--border) !important;
  background:var(--intersuj);
}

/*titre "spoiler*/
#blank_spoiler dt {
    background: var(--lighter);
    border-radius: 5px;
    padding: 2px 5px;
    border: none !important;
    margin: 0 !important;
}

/*contenu spoiler*/
.spoiler_content {margin: 5px 5px 2px;}

/*Balise citation*/
blockquote, blockquote#blank_quote {
  background:var(--light);
  color:var(--text);
  margin: 15px !important;
  border-radius:4px;
  border: var(--borders) !important;
}
blockquote blockquote {background:transparent!important;}


/*Citation : titre "XXX a écrit"*/
blockquote#blank_quote cite {}

/*Balise hide*/
#blank_hide {border:none!important;background:var(--lighter);}


/*** ------------------------------- ***/
/*** PAGE D'ENVOI D'UN MESSAGE ----- ***/

/* Largeur de la boîte des smileys */
.smiley-element {
  background: transparent!important;
}
#smiley-box, .smile-status-box {background: var(--lighter)!important;width: 20%!important;}

#smiley-box iframe, .smile-status-box iframe {
  background: var(--lighter)!important;
}

#smileyContainer {
  background: var(--lighter)!important;
}

/* Largeur de la zone de texte */
#message-box #textarea_content { width: 78%!important }


/* Prévisualisation d'un message */
#preview {
    background: var(--lighter);
    padding: 0 10px 10px;
    border: var(--border)!important;
    border-radius: 5px;
}

/****** ------------------------------------------------------------------------------
 ****** MEMBRES ------------------------------------------------------ ******/

/*** ------------------------------- ***/
/*** PAGE DE PROFIL ---------------- ***/

.profil_avatar img{ border-radius: 5px; width:200px;}
.cacheca3 img {  
  border-radius:15px;
  padding:8px; 
  background:var(--light); 
  border:var(--border);
  width:200px;
  height:180px;
  object-fit: cover;
  object-position: center;
}



.profil_contact form {display: flex;}

.profil_contact form > div {margin-left: 5px;}

.i_icon_pm    {height:15px;}
#i_icon_email {display:none!important;}

/* Suppression des cases vides de contact qui affichent " - " 
 * nth-child(n+4) supprime toutes les cases après la quatrième */
.profil_contact form div:nth-child(n+4) {display: none}


.profil_content img {
    max-width:100%;}

.profil_field {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 130px auto;}

.profil_field label {
    font-weight: 700;
    color: var(--link);
text-transform:uppercase;
letter-spacing:1px;
font-size:0.55rem;}

.profil_field field {}

.profil_admin {
    text-align: center;
    margin: 10px 0 0;}

/*GRID PROFIL*/
.user_profil {
  margin-top:8px;
  background: var(--lighter);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 220px auto 200px;
  grid-template-rows:60px 100px 45px auto;
  gap: 8px;}
.pageprofilpseudo {
  grid-column:1;
  grid-row:1;}
.containeravatar {
  grid-column: 1;
  grid-row: 2/5;}
.containerrang {
  grid-column: 1/4;
  grid-row: 5;}
.containercontact {
  grid-column: 3;
  grid-row: 3;}
.containerlinks {
  grid-column: 3;
  grid-row: 1/3;}
/* APPARENCE BEAUTYSHOT DANS LE PROFIL*/
.profil_shotflow {
  height:150px;
  overflow:auto;}
.profil_shotflow::-webkit-scrollbar {display:none}
.profil_shot img {max-width:70%}
.profil_shot {
  text-align:center;
  grid-column:2;;
  grid-row:1/3;
  vertical-align: middle;
  background:var(--light); 
  border:var(--border);
  padding:10px;
  border-radius:10px;}
.profil_imgg {
  grid-column: 3;
  grid-row: 4/5;}
.profil_infos {
  grid-column: 2;
  grid-row: 3/5;}
.profil_content {
    height: 200px;
    overflow: auto;}
.profilconnect {text-transform:uppercase;}
.profilrang {text-transform:uppercase; font-weight:bold; color:var(--button);}
.containeravatar, .containerrang, .containercontact, .profil_infos, .containerlinks {
  vertical-align: middle;
  background:var(--light); 
  border:var(--border);
  padding:10px;
  border-radius:10px;}

.containeronline, .containerlinks a {
  display:block;
  text-transform:uppercase;
  color:white!important;
  font-size:var(--sizu1);
  background:var(--button);
  border:var(--buttonborder);
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  border-radius:5px;
  margin:5px;}
.profillink {display: inline-block;}
.profillink img {height:15px; margin:4px;}
       
/*** ------------------------------- ***/
/*** PROFILS SIMPLIFIÉS DES TAGS ---- ***/

/* Supression de la flèche peu esthétique*/
.tooltipster-arrow {display: none !important}

.tooltipster-default {border-radius:10px;}

.tooltipster-content {
  border-radius:10px;
  border:var(--border);
  background:var(--lighter);
  color:var(--text);
}

.preview_content {
  font-size:var(--sizu2);
  display: flex; 
  background:var(--lighter);}

.preview_avatar img {
    object-fit: cover;
    object-position: center;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-right: 10px;
}

.preview_infos {
    width: 100%;
    padding-top: 3px
}

.preview_pseudo, .preview_pseudo strong {
 font-size: 1rem !important;
  text-transform:uppercase;
  display: block;
 font-family: var(--font1);
 text-align: center;
}

.preview_contacts {
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.preview_contacts a {margin-left: 5px}

.tooltipster-arrow {display: none}



/*** ------------------------------- ***/
/*** MODIFIER LE PROFIL ------------ ***/

/* Onglets dans la modification de profil */
div#tabs {margin: 20px 0 10px !important;}

/* Permet d'espacer équitablement tout les onglets*/
#tabs ul {
    display: flex;
    justify-content: space-between;
}

/* Onglet selectionné */
#tabs li.activetab {
    background: var(--light)!important;
    border-radius: 5px;
}
#tabs li {padding:5px;}

#tabs .activetab a {background: var(--light)!important;}

#tabs .activetab a span {color:var(--text)}
#tabs .activetab a span:hover {color:var(--link)}

/* Liens d'onglet */
#tabs a {padding: 4px !important; color:var(--link)!important; border:none!important;}

#tabs a:hover {
    background: transparent;
    border-radius: 5px;
}

/* Texte contenu dans l'onglet */
#tabs a span {color:var(--link); padding: 0 !important;}

/* Suppression de l'onglet "amis et ignorés"
 * Déjà supprimé dans le profil seul et permet d'aligner tous les onglets sur une ligne */
div#tabs li:nth-child(5) { display: none;}


/*** ------------------------------- ***/
/*** LISTE DES MEMBRES ------------- ***/

.userlist {
    display: grid;
    grid-template-columns: 32% 33% 32%;
    grid-gap: 10px;
}
.oneuser {border:var(--border); border-radius:10px;}
.pseudo {
  text-transform:uppercase;
  text-align:center;
  background:var(--lighter); 
  width: auto; 
  display: block; 
  padding:5px; 
  padding-top:10px;
  border-radius: 10px 10px 0px 0px;
  font-family: var(--font1); 
  letter-spacing: 1px; 
}
.userlist_profil {
  border-radius:5px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 1px;
  padding:5px;
  background:var(--lighter)
}

.userlist_avatar {
    background: var(--light);
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.userlist_avatar img {
  object-fit: cover;
    object-position: center;
    height: 80px;
    width: 80px;
  border-radius:10px;
}

.userlist_details {
    background: var(--light);
    padding: 10px;
    border-radius: 0 10px 10px 0;
}

.userlist_pseudo {font-size: var(--sizu2);}

.userlist_infos {line-height:1rem; text-transform:uppercase; font-size:var(--sizu1); text-align:center;}

.userlist_contact {}


/****** ------------------------------------------------------------------------------ 
 ****** MESSAGES PRIVES -------------------------------------------------------------- ******/

/*** ------------------------------- ***/
/*** LISTE DES MPs ----------------- ***/
.mp_row {
    background: var(--light);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 55px auto;
    margin-bottom: 5px;
}

.mp_row:hover {background: var(--lighter);}

.mp_img {
    padding: 10px;
    border-right: 1px solid var(--grey);
}

.mp_img img {
    width: 35px;
    height: 35px;
    background: var(--grey);
  opacity:0.4;
}

.mp_infos {padding: 10px;}


/*** ------------------------------- ***/
/*** AFFICHAGE D'UN MESSAGE PRIVÉ -- ***/

.message {
    background: var(--light);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: 38px auto;}

.message_infos {
    grid-column: 1 / span 2;
    border-bottom: 1px solid var(--grey);
    padding: 10px;
    display: flex;
    justify-content: space-between;}

.message_profil {
    padding: 10px;
    border-right: 1px solid var(--grey);
    text-align: center;}

.message_content { padding: 10px;}



/****** ------------------------------------------------------------------------------
 ****** BLOGS ------------------------------------------------------------------------ ******/

/*** ------------------------------- ***/
/*** LISTE DES BLOGS --------------- ***/


.bloglist {
    background: var(--light);
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 60px auto;
    margin-bottom: 10px;}

.bloglist_date {
    grid-row: 1 / span 2;
    padding: 10px;
    border-right: 1px solid var(--grey);
    line-height: 22px;
    text-align: center;}

.blog_daymonth {font-size: 1rem;font-weight: 700;}
.blog_year {font-size: 1.1rem;}

.bloglist_infos {
    display: flex;
    justify-content: space-between;
    padding: 10px;}

.bloglist_details {text-align: right}

.bloglist_resum { padding: 0 10px 10px;}


/*** ------------------------------- ***/
/***  AFFICHAGE D'UN BLOG ---------- ***/

.blog_post {
    background: var(--light);
    display: grid;
    grid-template-rows: 38px auto;
    border-radius: 5px;}

.blog_details {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey);}

.blog_author {flex-grow: 100;}


/*** ------------------------------- ***/
/*** COMMENTAIRES D'UN BLOG -------- ***/


.blog_comment {
  text-align:justify;
  border: var(--border);
  width:400px;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  margin: 0px auto 10px;
}

.comment_avatar {margin-right: 10px;float: right;}

.comment_avatar img {
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
    margin:0!important;}

.comment_details {
    height: 40px;
    display: flex;
    justify-content: space-between;}

.comment_details .left {flex-grow: 100;}

.comment_content {margin: 10px 31px 10px 30px;}

.msgposter {
  height:60px;
  margin: 0px auto 0px;
  width:400px;
  border:var(--border);
  border-radius:10px 10px 0px 0px;
  padding:10px;
  background:var(--light);
}
.commentauthor {text-align:center; font-size:13px; text-transform:uppercase;}
.commentdate {text-align:right; color:var(--textff); text-transform:uppercase; font-size:var(--sizu1);}
.msgedit { margin-top:5px; height:20px; text-align:right;}

/****** ------------------------------------------------------------------------------
 ****** POUBELLE DE FORUMACTIF ------------------------------------------------------- 
 ****** Les éléments dont on veut plus ----------------------------------------------- ******/
 
ul.topics dd.dterm {width:45%;}
ul.topics dd.dterm, ul.topics dt {padding-left: 60px!important}
dl.icon {}
dl.icon img {opacity:0.1}

.adminlink br {display: none}

.corners-top {display: none !important}
.corners-bottom {display: none !important}

li.header dl.icon, ul.topiclist li.header, table.table1 thead { display: none !important;}

.forumbg table.table1 {margin: 0;}

form[name=notif_opts] table.table1 thead { display: contents!important}
#cp-main table.table1 thead th { border: none!important}

#cp-main {float: none !important; margin: 0 auto !important;}
